<div class='row'>
  <div class='col-xs-5'>
    <%= link_to 'Ключница', identities_path %>
    <%= link_to 'Настройки', edit_user_registration_path %>
    <%= link_to 'Аватары', edit_avatar_path %>
  </div>
</div>

