<div class='row'>
  <div class='col-xs-10'>
    <h1>Страны</h1>
    <ul class='countries'>
      <% @countries.each do |country| %>
        <li>
          <%= link_to country.title, manage_country_path(country) %>
          <%= '(Публичная)' if country.public %>
        </li>
      <% end %>
    </ul>
    <%= link_to 'Добавить', new_manage_country_path, class: 'js-add_country', remote: true %>
  </div>
</div>
