<div class='row'>
  <div class='col-xs-10'>
    <h1>Пользователи</h1>
    <%= paginate @users %>
    <% @users.each do |user| %>
      <p>
        <%= link_to user.fullname, manage_user_path(user) %>
      </p>
    <% end %>
    <%= paginate @users %>
  </div>
</div>
