<div class='row'>
  <div class='col-xs-10'>
    <h1>Города</h1>
      <div class='main_city'>
        <% @main_cities.each do |city| %>
          <p>
            <%= link_to city.address_string, edit_manage_main_city_path(city) %>
            <%= link_to '(Удалить)', manage_main_city_path(city), method: 'DELETE', data: { confirm: 'Вы уверены?' } %>
          </p>
        <% end %>
        <%= link_to 'Добавить город', new_manage_main_city_path, class: 'btn btn-default' %>
      </div>
  </div>
</div>
